.App {
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.conmtainer
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.banner1
{
  background-color: whitesmoke;
  height: 400px;
  width: auto;
  order: 1;
  width: 300px;
}
.banner2
{
  background-color: whitesmoke;
  height: 400px;
  width: auto;
  order: 2;
  width: 300px;


}
.banner3
{
  background-color: whitesmoke;
  height: 400px;
  width: 300px;

  order: 3;

}
.App-header {
  background-color:white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 5vmin);
  color: black,
}
.heading{
  font-size: calc(15px + 5vmin);
  margin-top: 1%;
  text-align: center;

}

